@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Todo List management</h1>
</div>

<<div class="text-center">
    <span><a href="./TodoItems"><h3>See list</h3></a></span>
    <span><a href="./TodoItems/Create"><h3>Create new element</h3></a></span>
   
</div>